.feature_left{
    background-image: url('../../../../images/Featured/ps5-slim.webp');
    background-position:bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.feature_right-top{
    background-image: url('../../../../images/Featured/attractive-woman-wearing-hat-posing-black.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.feature_right-buttom-smallBox1{
    background-image: url('../../../../images/Featured/speaker.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
   
}
.feature_right-buttom-smallBox2{
    background-image: url('../../../../images/Featured/gucci-perfume.webp');
    background-position: center;
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
}